<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict><key>name</key><string>Alabama</string><key>abbreviation</key><string>AL</string><key>date</key><date>1819-12-14T12:00:00Z</date><key>area</key><integer>52419</integer><key>population</key><integer>4779736</integer><key>capital</key><string>Montgomery</string><key>populousCity</key><string>Birmingham</string><key>latitude</key><real>32.3754</real><key>longitude</key><real>-86.2996</real></dict>
<dict><key>name</key><string>Alaska</string><key>abbreviation</key><string>AK</string><key>date</key><date>1959-01-03T12:00:00Z</date><key>area</key><integer>663267</integer><key>population</key><integer>710231</integer><key>capital</key><string>Juneau</string><key>populousCity</key><string>Anchorage</string><key>latitude</key><real>58.3637</real><key>longitude</key><real>-134.5721</real></dict>
<dict><key>name</key><string>Arizona</string><key>abbreviation</key><string>AZ</string><key>date</key><date>1912-02-14T12:00:00Z</date><key>area</key><integer>113998</integer><key>population</key><integer>6392017</integer><key>capital</key><string>Phoenix</string><key>populousCity</key><string>Phoenix</string><key>latitude</key><real>33.4483</real><key>longitude</key><real>-112.0738</real></dict>
<dict><key>name</key><string>Arkansas</string><key>abbreviation</key><string>AR</string><key>date</key><date>1836-06-15T12:00:00Z</date><key>area</key><integer>52897</integer><key>population</key><integer>2915918</integer><key>capital</key><string>Little Rock</string><key>populousCity</key><string>Little Rock</string><key>latitude</key><real>34.7244</real><key>longitude</key><real>-92.2789</real></dict>
<dict><key>name</key><string>California</string><key>abbreviation</key><string>CA</string><key>date</key><date>1850-09-09T12:00:00Z</date><key>area</key><integer>63700</integer><key>population</key><integer>37253956</integer><key>capital</key><string>Sacramento</string><key>populousCity</key><string>Los Angeles</string><key>latitude</key><real>38.5737</real><key>longitude</key><real>-121.4871</real></dict>
<dict><key>name</key><string>Colorado</string><key>abbreviation</key><string>CO</string><key>date</key><date>1876-08-01T12:00:00Z</date><key>area</key><integer>104185</integer><key>population</key><integer>5029196</integer><key>capital</key><string>Denver</string><key>populousCity</key><string>Denver</string><key>latitude</key><real>39.7551</real><key>longitude</key><real>-104.9881</real></dict>
<dict><key>name</key><string>Connecticut</string><key>abbreviation</key><string>CT</string><key>date</key><date>1788-01-09T12:00:00Z</date><key>area</key><integer>5543</integer><key>population</key><integer>3574097</integer><key>capital</key><string>Hartford</string><key>populousCity</key><string>Bridgeport</string><key>latitude</key><real>41.7665</real><key>longitude</key><real>-72.6732</real></dict>
<dict><key>name</key><string>Delaware</string><key>abbreviation</key><string>DE</string><key>date</key><date>1787-12-07T12:00:00Z</date><key>area</key><integer>2491</integer><key>population</key><integer>897934</integer><key>capital</key><string>Dover</string><key>populousCity</key><string>Wilmington</string><key>latitude</key><real>39.1615</real><key>longitude</key><real>-75.5136</real></dict>
<dict><key>name</key><string>Florida</string><key>abbreviation</key><string>FL</string><key>date</key><date>1845-03-03T12:00:00Z</date><key>area</key><integer>65755</integer><key>population</key><integer>18801310</integer><key>capital</key><string>Tallahassee</string><key>populousCity</key><string>Jacksonville</string><key>latitude</key><real>30.4382</real><key>longitude</key><real>-84.2806</real></dict>
<dict><key>name</key><string>Georgia</string><key>abbreviation</key><string>GA</string><key>date</key><date>1788-01-02T12:00:00Z</date><key>area</key><integer>59425</integer><key>population</key><integer>9687653</integer><key>capital</key><string>Atlanta</string><key>populousCity</key><string>Atlanta</string><key>latitude</key><real>33.7545</real><key>longitude</key><real>-84.3897</real></dict>
<dict><key>name</key><string>Hawaii</string><key>abbreviation</key><string>HI</string><key>date</key><date>1959-08-21T12:00:00Z</date><key>area</key><integer>10931</integer><key>population</key><integer>1360301</integer><key>capital</key><string>Honolulu</string><key>populousCity</key><string>Honolulu</string><key>latitude</key><real>21.2920</real><key>longitude</key><real>-157.8219</real></dict>
<dict><key>name</key><string>Idaho</string><key>abbreviation</key><string>ID</string><key>date</key><date>1890-07-03T12:00:00Z</date><key>area</key><integer>83642</integer><key>population</key><integer>1567582</integer><key>capital</key><string>Boise</string><key>populousCity</key><string>Boise</string><key>latitude</key><real>43.6021</real><key>longitude</key><real>-116.2125</real></dict>
<dict><key>name</key><string>Illinois</string><key>abbreviation</key><string>IL</string><key>date</key><date>1818-12-03T12:00:00Z</date><key>area</key><integer>54826</integer><key>population</key><integer>12830632</integer><key>capital</key><string>Springfield</string><key>populousCity</key><string>Chicago</string><key>latitude</key><real>39.8018</real><key>longitude</key><real>-89.6533</real></dict>
<dict><key>name</key><string>Indiana</string><key>abbreviation</key><string>IN</string><key>date</key><date>1816-12-11T12:00:00Z</date><key>area</key><integer>36418</integer><key>population</key><integer>6483802</integer><key>capital</key><string>Indianapolis</string><key>populousCity</key><string>Indianapolis</string><key>latitude</key><real>39.7670</real><key>longitude</key><real>-86.1563</real></dict>
<dict><key>name</key><string>Iowa</string><key>abbreviation</key><string>IA</string><key>date</key><date>1846-12-28T12:00:00Z</date><key>area</key><integer>56272</integer><key>population</key><integer>3046355</integer><key>capital</key><string>Des Moines</string><key>populousCity</key><string>Des Moines</string><key>latitude</key><real>41.5888</real><key>longitude</key><real>-93.6203</real></dict>
<dict><key>name</key><string>Kansas</string><key>abbreviation</key><string>KS</string><key>date</key><date>1861-01-29T12:00:00Z</date><key>area</key><integer>82277</integer><key>population</key><integer>2853118</integer><key>capital</key><string>Topeka</string><key>populousCity</key><string>Wichita</string><key>latitude</key><real>39.0474</real><key>longitude</key><real>-95.6815</real></dict>
<dict><key>name</key><string>Kentucky</string><key>abbreviation</key><string>KY</string><key>date</key><date>1792-06-01T12:00:00Z</date><key>area</key><integer>40409</integer><key>population</key><integer>4339367</integer><key>capital</key><string>Frankfort</string><key>populousCity</key><string>Louisville</string><key>latitude</key><real>38.1894</real><key>longitude</key><real>-84.8715</real></dict>
<dict><key>name</key><string>Louisiana</string><key>abbreviation</key><string>LA</string><key>date</key><date>1812-04-30T12:00:00Z</date><key>area</key><integer>52271</integer><key>population</key><integer>4533372</integer><key>capital</key><string>Baton Rouge</string><key>populousCity</key><string>New Orleans</string><key>latitude</key><real>30.4493</real><key>longitude</key><real>-91.1882</real></dict>
<dict><key>name</key><string>Maine</string><key>abbreviation</key><string>ME</string><key>date</key><date>1820-03-15T12:00:00Z</date><key>area</key><integer>35385</integer><key>population</key><integer>1328361</integer><key>capital</key><string>Augusta</string><key>populousCity</key><string>Portland</string><key>latitude</key><real>44.3294</real><key>longitude</key><real>-69.7323</real></dict>
<dict><key>name</key><string>Maryland</string><key>abbreviation</key><string>MD</string><key>date</key><date>1788-04-28T12:00:00Z</date><key>area</key><integer>12407</integer><key>population</key><integer>5773552</integer><key>capital</key><string>Annapolis</string><key>populousCity</key><string>Baltimore</string><key>latitude</key><real>38.9693</real><key>longitude</key><real>-76.5197</real></dict>
<dict><key>name</key><string>Massachusetts</string><key>abbreviation</key><string>MA</string><key>date</key><date>1788-02-06T12:00:00Z</date><key>area</key><integer>10554</integer><key>population</key><integer>6547629</integer><key>capital</key><string>Boston</string><key>populousCity</key><string>Boston</string><key>latitude</key><real>42.3589</real><key>longitude</key><real>-71.0568</real></dict>
<dict><key>name</key><string>Michigan</string><key>abbreviation</key><string>MI</string><key>date</key><date>1837-01-26T12:00:00Z</date><key>area</key><integer>97990</integer><key>population</key><integer>9883640</integer><key>capital</key><string>Lansing</string><key>populousCity</key><string>Detroit</string><key>latitude</key><real>42.7336</real><key>longitude</key><real>-84.5466</real></dict>
<dict><key>name</key><string>Minnesota</string><key>abbreviation</key><string>MN</string><key>date</key><date>1858-05-11T12:00:00Z</date><key>area</key><integer>86943</integer><key>population</key><integer>5303925</integer><key>capital</key><string>Saint Paul</string><key>populousCity</key><string>Minneapolis</string><key>latitude</key><real>44.9446</real><key>longitude</key><real>-93.1027</real></dict>
<dict><key>name</key><string>Mississippi</string><key>abbreviation</key><string>MS</string><key>date</key><date>1817-12-10T12:00:00Z</date><key>area</key><integer>48434</integer><key>population</key><integer>2967297</integer><key>capital</key><string>Jackson</string><key>populousCity</key><string>Jackson</string><key>latitude</key><real>32.3122</real><key>longitude</key><real>-90.1780</real></dict>
<dict><key>name</key><string>Missouri</string><key>abbreviation</key><string>MO</string><key>date</key><date>1821-08-10T12:00:00Z</date><key>area</key><integer>69704</integer><key>population</key><integer>5988927</integer><key>capital</key><string>Jefferson City</string><key>populousCity</key><string>Kansas City</string><key>latitude</key><real>38.5698</real><key>longitude</key><real>-92.1941</real></dict>
<dict><key>name</key><string>Montana</string><key>abbreviation</key><string>MT</string><key>date</key><date>1889-11-08T12:00:00Z</date><key>area</key><integer>147165</integer><key>population</key><integer>989415</integer><key>capital</key><string>Helena</string><key>populousCity</key><string>Billings</string><key>latitude</key><real>46.5911</real><key>longitude</key><real>-112.0205</real></dict>
<dict><key>name</key><string>Nebraska</string><key>abbreviation</key><string>NE</string><key>date</key><date>1867-03-01T12:00:00Z</date><key>area</key><integer>77420</integer><key>population</key><integer>1826341</integer><key>capital</key><string>Lincoln</string><key>populousCity</key><string>Omaha</string><key>latitude</key><real>40.8136</real><key>longitude</key><real>-96.7026</real></dict>
<dict><key>name</key><string>Nevada</string><key>abbreviation</key><string>NV</string><key>date</key><date>1864-10-31T12:00:00Z</date><key>area</key><integer>110567</integer><key>population</key><integer>2700551</integer><key>capital</key><string>Carson City</string><key>populousCity</key><string>Las Vegas</string><key>latitude</key><real>39.1501</real><key>longitude</key><real>-119.7519</real></dict>
<dict><key>name</key><string>New Hampshire</string><key>abbreviation</key><string>NH</string><key>date</key><date>1788-06-21T12:00:00Z</date><key>area</key><integer>9350</integer><key>population</key><integer>1316470</integer><key>capital</key><string>Concord</string><key>populousCity</key><string>Manchester</string><key>latitude</key><real>43.2314</real><key>longitude</key><real>-71.5597</real></dict>
<dict><key>name</key><string>New Jersey</string><key>abbreviation</key><string>NJ</string><key>date</key><date>1787-12-18T12:00:00Z</date><key>area</key><integer>8729</integer><key>population</key><integer>8791894</integer><key>capital</key><string>Trenton</string><key>populousCity</key><string>Newark</string><key>latitude</key><real>40.2202</real><key>longitude</key><real>-74.7642</real></dict>
<dict><key>name</key><string>New Mexico</string><key>abbreviation</key><string>NM</string><key>date</key><date>1912-01-06T12:00:00Z</date><key>area</key><integer>121697</integer><key>population</key><integer>2059179</integer><key>capital</key><string>Santa Fe</string><key>populousCity</key><string>Albuquerque</string><key>latitude</key><real>35.6816</real><key>longitude</key><real>-105.9381</real></dict>
<dict><key>name</key><string>New York</string><key>abbreviation</key><string>NY</string><key>date</key><date>1788-07-26T12:00:00Z</date><key>area</key><integer>54556</integer><key>population</key><integer>19378102</integer><key>capital</key><string>Albany</string><key>populousCity</key><string>New York City</string><key>latitude</key><real>42.6517</real><key>longitude</key><real>-73.7551</real></dict>
<dict><key>name</key><string>North Carolina</string><key>abbreviation</key><string>NC</string><key>date</key><date>1789-11-21T12:00:00Z</date><key>area</key><integer>53865</integer><key>population</key><integer>9535483</integer><key>capital</key><string>Raleigh</string><key>populousCity</key><string>Charlotte</string><key>latitude</key><real>35.7797</real><key>longitude</key><real>-78.6434</real></dict>
<dict><key>name</key><string>North Dakota</string><key>abbreviation</key><string>ND</string><key>date</key><date>1889-11-02T12:00:00Z</date><key>area</key><integer>70762</integer><key>population</key><integer>672591</integer><key>capital</key><string>Bismarck</string><key>populousCity</key><string>Fargo</string><key>latitude</key><real>46.8084</real><key>longitude</key><real>-100.7694</real></dict>
<dict><key>name</key><string>Ohio</string><key>abbreviation</key><string>OH</string><key>date</key><date>1803-03-01T12:00:00Z</date><key>area</key><integer>44825</integer><key>population</key><integer>11536504</integer><key>capital</key><string>Columbus</string><key>populousCity</key><string>Columbus</string><key>latitude</key><real>39.9622</real><key>longitude</key><real>-83.0007</real></dict>
<dict><key>name</key><string>Oklahoma</string><key>abbreviation</key><string>OK</string><key>date</key><date>1907-11-16T12:00:00Z</date><key>area</key><integer>69960</integer><key>population</key><integer>3751351</integer><key>capital</key><string>Oklahoma City</string><key>populousCity</key><string>Oklahoma City</string><key>latitude</key><real>35.4931</real><key>longitude</key><real>-97.4591</real></dict>
<dict><key>name</key><string>Oregon</string><key>abbreviation</key><string>OR</string><key>date</key><date>1859-02-14T12:00:00Z</date><key>area</key><integer>98466</integer><key>population</key><integer>3831074</integer><key>capital</key><string>Salem</string><key>populousCity</key><string>Portland</string><key>latitude</key><real>44.9370</real><key>longitude</key><real>-123.0272</real></dict>
<dict><key>name</key><string>Pennsylvania</string><key>abbreviation</key><string>PA</string><key>date</key><date>1787-12-12T12:00:00Z</date><key>area</key><integer>46055</integer><key>population</key><integer>12702379</integer><key>capital</key><string>Harrisburg</string><key>populousCity</key><string>Philadelphia</string><key>latitude</key><real>40.2740</real><key>longitude</key><real>-76.8849</real></dict>
<dict><key>name</key><string>Rhode Island</string><key>abbreviation</key><string>RI</string><key>date</key><date>1790-05-29T12:00:00Z</date><key>area</key><integer>1210</integer><key>population</key><integer>1052567</integer><key>capital</key><string>Providence</string><key>populousCity</key><string>Providence</string><key>latitude</key><real>41.8270</real><key>longitude</key><real>-71.4087</real></dict>
<dict><key>name</key><string>South Carolina</string><key>abbreviation</key><string>SC</string><key>date</key><date>1788-05-23T12:00:00Z</date><key>area</key><integer>32020</integer><key>population</key><integer>4625364</integer><key>capital</key><string>Columbia</string><key>populousCity</key><string>Columbia</string><key>latitude</key><real>34.0007</real><key>longitude</key><real>-81.0353</real></dict>
<dict><key>name</key><string>South Dakota</string><key>abbreviation</key><string>SD</string><key>date</key><date>1889-11-02T12:00:00Z</date><key>area</key><integer>77184</integer><key>population</key><integer>814180</integer><key>capital</key><string>Pierre</string><key>populousCity</key><string>Sioux Falls</string><key>latitude</key><real>44.3776</real><key>longitude</key><real>-100.3177</real></dict>
<dict><key>name</key><string>Tennessee</string><key>abbreviation</key><string>TN</string><key>date</key><date>1796-06-01T12:00:00Z</date><key>area</key><integer>42181</integer><key>population</key><integer>6346105</integer><key>capital</key><string>Nashville</string><key>populousCity</key><string>Memphis</string><key>latitude</key><real>36.1589</real><key>longitude</key><real>-86.7821</real></dict>
<dict><key>name</key><string>Texas</string><key>abbreviation</key><string>TX</string><key>date</key><date>1845-12-29T12:00:00Z</date><key>area</key><integer>268820</integer><key>population</key><integer>25145561</integer><key>capital</key><string>Austin</string><key>populousCity</key><string>Houston</string><key>latitude</key><real>30.2687</real><key>longitude</key><real>-97.7452</real></dict>
<dict><key>name</key><string>Utah</string><key>abbreviation</key><string>UT</string><key>date</key><date>1896-01-04T12:00:00Z</date><key>area</key><integer>84899</integer><key>population</key><integer>2763885</integer><key>capital</key><string>Salt Lake City</string><key>populousCity</key><string>Salt Lake City</string><key>latitude</key><real>40.7716</real><key>longitude</key><real>-111.8882</real></dict>
<dict><key>name</key><string>Vermont</string><key>abbreviation</key><string>VT</string><key>date</key><date>1791-03-04T12:00:00Z</date><key>area</key><integer>9623</integer><key>population</key><integer>625741</integer><key>capital</key><string>Montpelier</string><key>populousCity</key><string>Burlington</string><key>latitude</key><real>44.2627</real><key>longitude</key><real>-72.5716</real></dict>
<dict><key>name</key><string>Virginia</string><key>abbreviation</key><string>VA</string><key>date</key><date>1788-06-25T12:00:00Z</date><key>area</key><integer>42774</integer><key>population</key><integer>8001024</integer><key>capital</key><string>Richmond</string><key>populousCity</key><string>Virginia Beach</string><key>latitude</key><real>37.5408</real><key>longitude</key><real>-77.4339</real></dict>
<dict><key>name</key><string>Washington</string><key>abbreviation</key><string>WA</string><key>date</key><date>1889-11-11T12:00:00Z</date><key>area</key><integer>71362</integer><key>population</key><integer>6724540</integer><key>capital</key><string>Olympia</string><key>populousCity</key><string>Seattle</string><key>latitude</key><real>47.0449</real><key>longitude</key><real>-122.9016</real></dict>
<dict><key>name</key><string>West Virginia</string><key>abbreviation</key><string>WV</string><key>date</key><date>1863-06-20T12:00:00Z</date><key>area</key><integer>24230</integer><key>population</key><integer>1852994</integer><key>capital</key><string>Charleston</string><key>populousCity</key><string>Charleston</string><key>latitude</key><real>38.3533</real><key>longitude</key><real>-81.6354</real></dict>
<dict><key>name</key><string>Wisconsin</string><key>abbreviation</key><string>WI</string><key>date</key><date>1848-05-29T12:00:00Z</date><key>area</key><integer>65498</integer><key>population</key><integer>5686986</integer><key>capital</key><string>Madison</string><key>populousCity</key><string>Milwaukee</string><key>latitude</key><real>43.0632</real><key>longitude</key><real>-89.4007</real></dict>
<dict><key>name</key><string>Wyoming</string><key>abbreviation</key><string>WY</string><key>date</key><date>1890-07-10T12:00:00Z</date><key>area</key><integer>97818</integer><key>population</key><integer>563626</integer><key>capital</key><string>Cheyenne</string><key>populousCity</key><string>Cheyenne</string><key>latitude</key><real>41.1389</real><key>longitude</key><real>-104.8165</real></dict>
</array>
</plist>

